{{ use('yii/widgets') }}
{{ register_asset_bundle('app/assets/AppAsset') }}
{{ void(this.beginPage()) }}
<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
        <meta charset="{{ app.charset }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% if title %} {{ title }} {% else %} Главная {% endif %}</title>
        {{ html.csrfMetaTags | raw }}
        {{   void(this.head) }}
    {% endblock %}
</head>
<body>
    {{ void(this.beginBody()) }}
    <div class="wrap">
        {{ nav_bar_begin({
            'brandLabel': 'File Parse',
            'brandUrl' : app.homeUrl,
            'options' : {
                'class' : 'navbar-inverse navbar-fixed-top',
            }
        }) }}
        {% set menu_items = [] %}
        {% if app.user.isGuest == false %}
            {% set menu_items = menu_items|merge([
                {'label' : 'Главная', 'url' : ['/site/index']},
                {'label' : 'История загрузок', 'url' : ['/site/history']},
                {
                    'label' : 'Выход - ' ~ app.user.identity.username ~ '',
                    'url' : ['/site/logout'],
                    'linkOptions' : {'data-method' : 'post'}
                }
            ]) %}
        {% else %}
            {% set menu_items = menu_items|merge([{'label' : 'Вход', 'url' : ['/site/login']}]) %}
        {% endif %}
        {{ nav_widget({
            'options': {
                'class': 'navbar-nav navbar-right',
            },
            'items': menu_items
        }) }}
        {{ nav_bar_end() }}
        <div class="container">
            {% if this.params['breadcrumbs'] %}
                {% set breadcrumbs = this.params['breadcrumbs'] %}
            {% else %}
                {% set breadcrumbs = [] %}
            {% endif %}

            {{ breadcrumbs_widget({
                'links' : breadcrumbs,
            }) | raw }}
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% block footer %}
    {% endblock %}
    {{ void(this.endBody()) }}
</body>

</html>
{{ void(this.endPage()) }}