{% extends 'default.twig' %}
{% use 'footer.twig' %}

{% block content %}
    <div id="accordion">
        {% if content %}
            {% for key, value in content %}
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ key }}" aria-expanded="false" aria-controls="collapse{{ key }}">
                                {{ value.created_at }} - {{ value.file_name }}
                            </button>
                        </h5>
                    </div>

                    <div id="collapse{{ key }}" class="collapse" aria-labelledby="heading{{ key }}" data-parent="#accordion">
                        <div class="card-body">
                            {% if value.words_table %}
                                <br><br>
                                <table class="table">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Слово</th>
                                        <th scope="col">Вхождений</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for table_value in value.words_table %}
                                        <tr>
                                            <th scope="row">{{ table_value.id }}</th>
                                            <td>{{ table_value.word }}</td>
                                            <td>{{ table_value.count }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    {{link_pager_widget({
        'pagination': pagination
    }) }}
{% endblock %}