{% extends 'default.twig' %}
{% use 'footer.twig' %}

{% block content %}
    <div class="custom-file">
        <div class="form-group">
            {% set form = active_form_begin({
                'id' : 'file-form',
                'options' : {
                    'enctype' :  'multipart/form-data'
                }
            }) %}
            {{ form.field(model, 'file').fileInput() | raw }}


            <input type="submit" value="Отправить" class="btn btn-primary col-sm-6" />
        </div>
        {{ active_form_end() }}
    </div>
    {% if words_table %}
        <br><br>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Слово</th>
                <th scope="col">Вхождений</th>
            </tr>
            </thead>
            <tbody>
            {% for value in words_table %}
                <tr>
                    <th scope="row">{{ value.id }}</th>
                    <td>{{ value.word }}</td>
                    <td>{{ value.count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}