{% extends 'default.twig' %}
{% use 'footer.twig' %}

{% block content %}
    <div class="site-login">
        {% set form = active_form_begin({
            'id' : 'login-form',
            'layout' : 'horizontal',
            'fieldConfig' : {
                'labelOptions' : {'class': 'col-lg-1 control-label'},
                'template' : "{label}\n<div class=\"col-lg-3\">{input}</div>\n<div class=\"col-lg-8\">{error}</div>",
            },
        }) %}
        {{ form.field(model, 'username').label('Логин') | raw }}
        {{ form.field(model, 'password').passwordInput().label('Пароль') | raw }}

        <div class="form-group">
            <div class="col-lg-offset-1 col-lg-11">
                <input type="submit" value="Вход" class="btn btn-primary" />
            </div>
        </div>
        {{ active_form_end() }}
    </div>
{% endblock %}